.home-kontakt{
    background-color: $firstColor;
    margin-top: 50px;
    padding: 40px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
    @media (min-width: 992px){
        margin-top: 100px;
    }
    h3, a{
        font-size: 700px;
        color: #fff;
        font-size: 28px;
        line-height: 24px;
        margin-bottom: 18px;
        text-align: center;
        text-decoration: none;
        @media (min-width: 992px){
            font-size: 36px;
        }
    }
    p{
        text-align: center;
        font-size: 18px;
        line-height: 24px;
        font-weight: 400;
        color: #fff;
        margin-bottom: 12px;
        @media (min-width: 992px){
            font-size: 22px;
        }
    }
    a{
        font-weight: 800;
        @media (min-width: 992px){
            font-size: 32px;
            line-height: 40px;
        }
    }
}